<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Lifting Logo" src="assets/img/yeti.jpg">
    <div class="row; text-center">
        <h2 class="text-primary">{{currentDate | date:'dd-MM-yyy'}}</h2>
        <br>
    </div>
    <form [formGroup]="form">
        <div class="form-group">
            <input type="number" class="form-control-lg ; text-center ; form-control"formControlName="run" id="run"  placeholder="RUN TIMING">

    </div>
    <div class="form-group">
        <input type="number" class="form-control-lg ; text-center ; form-control"formControlName="pushups" id="pushups"  placeholder="PUSH UPS">

   </div>
    <div class="form-group">
        <input type="number" class="form-control-lg ; text-center ; form-control"formControlName="situps" id="situps"  placeholder="SIT UPS">

   </div>
    <button type="submit" class="btn btn-primary"  (click)="onSubmit()">Submit</button>
</form>
</div>
